<div class="legend row">
    <!--
    {{#each status}}
        <div class="legend-item col-sm-3" style="background-color:{{color}}"><span>{{label}}</span></div>
    {{/each}}
    -->
</div>
<div class="row">
    <div class="calendar col-md-12" id="calendar"></div>
</div>