<section>
<div class="row">
    <div class="col-md-12" id="security-info">
        <center>
            <img src="http://forms.miamilimocoach.com/wp-content/uploads/2014/07/usaepaysecurebuttonblue.gif" alt="UsaEpay Secure Processing"/>
            <img src="/images/cc-logos.gif" alt="Accepted Cards"/>
            <p>BY FILLING OUT THIS DOCUMENT, I HAVE HEREBY AUTHORIZED<br/>
                <b>Miami Limo Coach</b> <br/>
                TO CHARGE MY CREDIT CARD ABOVE IN ORDER<br/> 
                TO SECURE THEIR SERVICES
            </p>
        </center>
    </div>
    
    <div class="col-md-12">
        <center>
            <h3 id="error-indication">Please fix the errors marked in red in order to make a reservation.</h3>
            <button id="btn-submit" type="button" class="myButton">Submit Reservation / Make Payment</button>
        </center>
    </div>
    
    <div class="col-md-12" id="disclaimer">
        <center>
            <h4>Company Policy</h4>
        </center>
        <p>
            <b>Company policy:</b>
            At the chauffeurs discretion, renter agrees to be fully liable for any damages that may occur including but not limited to:<br/>
                <ul>
                    <li>Holes or tears in seat -- $200</li>
                    <li>Gum in carpet -- $50</li>
                    <li>Special cleaning (sickness etc.) -- $250</li>
                </ul>
            *For passengers 21+ we allow all liquor bottles on-board but no beer bottles, only beer cans allowed.<br/>
            <br/>
            16850 Collins Ave. Suite #259 Miami, Fl 33160<br/>
            Phone: <a href="tel:3052009804">(305) 200-9804<a/><br/>
            Fax: (305) 424-9396<br/>
            E-mail: <a href="mailto:info@miamilimocoach.com">info@miamilimocoach.com</a><br/>
            Website: <a href="www.miamilimocoach.com">www.miamilimocoach.com</a>
        </p>
    </div>
</div>
</section>