<header class="reservation-display-header">
{{#if admin}}
    <div class="row" id="reservation-buttons-container">
        <div class="col-md-12">
            <button class="delete-btn btn btn-danger">Delete Reservation</button>
            <a href="/admin/clndr" class="btn btn-primary">View Calendar</a>
        </div>
    </div>
{{/if}}
</header>

<section>
    {{#unless admin}}
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: green">An email with the following details has been sent to you.</h4>
            <h3>Reservation Details</h3>
        </div>
    </div>
    {{/unless}}
    
    <div class="row reservation-display-section">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed">
                {{#each sections}}
                    {{#each fields}}
                        <tr class="reservation-field-info-container">
                            <td class="col-md-4"><b>{{label}}</b></td>
                            <td class="col-md-8"><span id="{{id}}">{{value}}</span></td>
                        </tr>
                    {{/each}}
                {{/each}}
            </table>
        </div>
    </div>
</section>

{{#if admin}}
    {{>transaction_info transaction}}
    {{>employee_notify employees}}
{{/if}}
<footer></footer>