#calendar {
    font-family: Verdana, Geneva, sans-serif;
}

.today {
    background-color: #ffffcc;
}

.clndr-ctrls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    color: #333333;
}

.clndr-ctrl {
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-weight: bolder;
}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.day {
    order: 1;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    border: 1px solid black;
    with: 50px;
    min-height: 50px;
    color: #333333;
    overflow-x: hidden;
}

.day-number {
    margin:5px;
    text-align: right;
    font-size: 16px;
}

.adjacent-month {
    color: #a6a6a6;
}

.day-event {
    margin-bottom: 1px;
    text-align: center;
}

.day-event a {
    color: white;
}

.day-event a:hover {
    cursor: pointer;
}

.go-to-day {
    width: 100%;
    text-align: center;
    background-color: #000000;
    margin-bottom: 1px;
}

.go-to-day a {
    color: white;
}

/*------- Reservations By Date -------*/
.reservation-element {
    width: 300px;
    background-color: #d9d9d9;
    color: #000;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    padding: 10px;
}

/*-------Event colors--------*/
.reservation-only {
    background-color: #0099ff;
}

.payment-accepted {
    background-color: #29a329;
}

.payment-declined {
    background-color: #e6e600;
}

.payment-failed {
    background-color: #ff6600;
}
/*-----------------------------*/


.not-paid {
    background-color: #ff0000;  
}

/* Uniform Borders */
.days:nth-child(3) {
    border-top: 1px solid black;
}

.days:last-child {
    border-bottom: 1px solid black;
}

.day:nth-child(1) {
    border-left: 2px solid black;
}

.day:last-child {
    border-right: 2px solid black;
}

.weekday {
    display: flex;
    justify-content: center;
    border:none;
    line-height: 50px;
    font-weight: bolder;
    border: none !important;
}

.weekday .day-content {
    margin: 0;
}