body {
    padding: 5px;
}

/*#btn-submit {
    margin-left: 15px;
    margin-bottom: 15px;
}*/

.form-errors {
    background-color: #ffcccc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: none;
}

.cc-reservation-id {
    padding: 5px;
    background-color: #b3ffb3;
    border-radius: 7px;
}

.error-info {
    padding: 5px;
    color: #ff1a1a;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(179,179,179,0.5);
}

.loading .hourglass {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 70px;
    margin-left: -25px;
    margin-top: -35px;
}

.legend-item {
    text-align: center;
    color: white;
    margin-bottom: 5px;
    border-radius: 6px;
    height: 25px;
    line-height: 25px;
}